<!DOCTYPE html>
<html>
<head>
	<title>Clase Bootstrap</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

	<style type="text/css">
		.container {
			max-width: 25% !important;
			margin-top: 20px;
		}
		#boton_tomar {
			float: right;
		}
		body{
			  background-image: url('Static/img/Cerveza.jpg');
		}
	</style>
</head>
<body>
	<div style="position: fixed; right: 900px; bottom: 450px;"class="container">
		<h2 style="color: red ">FORMULARIO</h2>
		<hr>
		<label style="color: red; font-size: 30px;">Nombre:</label>
		<input style="font-size: 30px;" id="nombre" type="text" class="form-control" name=""> <br>
		<label style="color: red; font-size: 30px;">Edad:</label>
		<input style="font-size: 30px" id="edad" type="number" min="0" class="form-control" name=""> <br>
		<label style="color: red; font-size: 30px;">Nacionalidad:</label>
		<select style="font-size: 30px" class="form-control" id="nacionalidad">
			<option>Selecciona una nacionalidad</option>
			<option value="mexicano">Mexicano</option>
			<option value="estadounidense">Estadounidense</option>
		</select>
		<hr>
		<button - style="" id="boton_tomar" class="btn bg-dark text-white">¿Tomamos?</button>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){

			$("#boton_tomar").click(function(){
				var nombre = $("#nombre").val();
				var edad = Number($("#edad").val());
				var nacionalidad = $("#nacionalidad").val();
				var mayor_de_edad = 0;
				if(nacionalidad == "mexicano") {
					mayor_de_edad = 18;
				}
				else {
					mayor_de_edad = 21;
				}
				if(nombre == ""){
					alert("Ingrese Nombre");
				}
				else if(edad == ""){
					alert("Ingresa tu Edad");
				}
				else if(nacionalidad == "Selecciona una nacionalidad..."){
					alert("Escoja Una Nacionalidad");
				}
				else if(edad >= mayor_de_edad) { // si puedo tomar
					alert("Hola! " + nombre + ", Tomemos Sin parar!");
				}
				else { // no puedo tomar
					alert("Lo siento! " + nombre + ", Estas Muy Chico, No puedes tomar!");

				location.reload();
			}
			});	
		});
	</script>

</body>
</html>
 