<!DOCTYPE html>
<html>
<head>
	<title>MercaCheve</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	
</head>
  <style type="text/css">
	
	 body{
		background-image: url("static/a.jpg");
    background-attachment:fixed;
    background-position:1750px 880px;
    background-repeat: no-repeat;
	 }
  </style>

<body>

<div class="container"style="text-align:center">
  
 
 <h2 style= "font-size : 100px" > MercaCheve </h2> <hr><br><br> 
 <h3 > Ingrese la cantidad de cerveza</h3> <br> <hr>
  <form action="integrantes.html">

  <label style="font-size:40px" for="tipo" > Cerveza Indio $10 </label><br>
  <img src="static/indio1.jpg"> <br>

  <input type="range" id="I" name="i" min="0" max="120" step="6" value="1" onchange="document.getElementById('outi').value=value"><br>
  <output id= "outi" name="outi" for="i">0</output><br><br><hr>
  

  <label style="font-size:40px" for="tipo">Cerveza Tecate $15</label><br>
  <img src="static/tecate1.jpg"> <br>
  <input type="range" name="t" min="0" max="120" step="6" value="1" onchange="document.getElementById('outt').value=value" id="T"><br>
  <output id= "outt" name="outt" for="t">0</output><br><br><hr>

  <label style="font-size:40px" for="tipo">Cerveza Budlight $20 </label><br>
  <img src="static/Bud1.png"> <br>
  <input type="range" name="b" min="0" max="120" step="6" value="1" onchange="document.getElementById('outb').value=value" id="B"><br>
  <output id= "outb" name="outb" for="b">0</output><br><br>


  <hr><h4 > Ingrese su pago </h4> <br>
 <input type="number" id="pago" name="pago">
  

  <button onclick="calculate()" id="total"> Total </button>
  <input type="reset" value="Reset"><br><hr>


 <label>*Venta exclusivamente en paquetes de 6 cervezas*</label>
 
 <hr>

</div>

<script type="text/javascript">
	
	function calculate(){
		var field1 = document.getElementById("I").value;
		var field2 = document.getElementById("T").value;
		var field3 = document.getElementById("B").value;
		var ingre = document.getElementById("pago").value;


		var total = parseFloat(ingre)-(parseFloat(field1) + parseFloat(field2) + parseFloat(field3));



		if(ingre == 0){
			alert("Ingrese cantidad");
		}
		else if (total < 0){
			alert("Cantidad Insuficiente");
		}
		else{

			alert("Tu total es "+ total);		
			location.reload();
		}


		}
</script>

</body>

</html>